prod/index.html
<!DOCTYPE html><html lang="pt-br"><!-- head--><!-- -------------------------------------------><head><!-- head requests--><!-- metas--><meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"><meta charset="utf-8"><!-- favicons--><!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]--><link rel="icon" href="assets/img/icons/favicon-16.png" sizes="16x16"><link rel="icon" href="assets/img/icons/favicon-32.png" sizes="32x32"><link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-144x144.png" sizes="144x144"><link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-114x114.png" sizes="114x114"><link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon-72x72.png" sizes="72x72"><link rel="apple-touch-icon" href="assets/img/icons/apple-touch-icon.png"><!-- CSS--><link rel="stylesheet" href="assets/styles/flexslider.css"><link rel="stylesheet" href="assets/styles/style.min.css"><link rel="stylesheet" type="text/css" href="assets/styles/fresco.css"><link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=entypo"><!-- fonts--><link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic" rel="stylesheet" type="text/css"><!-- SEO--><meta name="keywords" content=""><meta name="description" content="Santos Portugueses 2016"><meta name="robots" content="index,follow"><meta name="copyright" content="Santos Portugueses © 2016 Todos Direitos Reservados"><meta name="author" content="Tuut"><title>Festa Santos Portugueses - 2016</title></head><body><!-- header--><!-- -------------------------------------------><!-- banner--><!-- -------------------------------------------><!-- banner--><!-- -------------------------------------------><div class="banner"> <div class="flexslider"><ul class="slides"><li><img src="assets/img/02.jpg"></li><li><img src="assets/img/01.jpg"></li><li><img src="assets/img/03.jpg"></li></ul></div></div><div class="banner2"></div><!-- content--><!-- -------------------------------------------><div class="row1"><div class="content-row">		<main class="row"><div class="content"> <h1 class="titulo"> 
Um festival multicultural que unirá <br> passado e presente</h1><p>A Festa dos Santos Populares Portugueses vai trazer a cultura portuguesa tradicional e contemporânea para as ruas do Rio de Janeiro. <br> <br>
Atrair a população carioca para conhecer a origem de suas tradições. <br>
Festejar com alegria as delicias de Portugal.</p></div></main></div></div><div class="video"><div class="row"><iframe width="80%" height="720" src="https://www.youtube.com/embed/PQiHFNI6e64" frameborder="0" allowfullscreen></iframe></div></div><!-- footer--><!-- -------------------------------------------><footer class="rodape"></footer><div><div class="logo-container"><img src="assets/img/img-footer.png"></div></div><!-- bottom requests--><!-- -------------------------------------------><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script><script src="assets/scripts/jquery-1.10.2.min.js" type="text/javascript"></script><script src="assets/scripts/jquery.flexslider.js" type="text/javascript"></script><script src="assets/scripts/scripts.min.js" type="text/javascript" async></script></body></html>

dev/index.jade
doctype html
html(lang="pt-br")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="")
		meta(name="description" content="Santos Portugueses 2016")
		meta(name="robots" content="index,follow")
		meta(name="copyright" content="Santos Portugueses © 2016 Todos Direitos Reservados")
		meta(name="author" content="Tuut")
		title Festa Santos Portugueses - 2016

	body
		// header
		// -----------------------------------------
		//- include ./includes/header.jade

		// banner
		// -----------------------------------------
		include ./includes/banner.jade

		// content
		// -----------------------------------------
		
		div.row1
			div.content-row		
				main.row
					div.content 
						h1.titulo 
							|Um festival multicultural que unirá <br> passado e presente
						p A Festa dos Santos Populares Portugueses vai trazer a cultura portuguesa tradicional e contemporânea para as ruas do Rio de Janeiro. <br> <br>
							|Atrair a população carioca para conhecer a origem de suas tradições. <br>
							|Festejar com alegria as delicias de Portugal.
		div.video
			div.row
				iframe(width="80%" height="720" src="https://www.youtube.com/embed/PQiHFNI6e64" frameborder="0" allowfullscreen)

		// footer
		// -----------------------------------------
		include ./includes/footer.jade

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
